[Desktop Entry]
Encoding=UTF-8
Name=Ordering System CashDesk
Comment=Launch OS
Exec=/home/pi/Dev/ordering-system-bei6/src/scripts/startup/order-sys-cashdesk.sh
Icon=input-tablet
Type=Application
Name[en_US]=Ordersys.CashDesk
Name[de_DE]=Ordersys.CashDesk.desktop
